/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
    font-family: 'DM-Sans';
    src: url('../src/assets/fonts/DMSans-Regular.eot');
    src: url('DMSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/DMSans-Regular.woff') format('woff'),
        url('../src/assets/fonts/DMSans-Regular.ttf') format('truetype'),
        url('../src/assets/fonts/DMSans-Regular.svg#DMSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM-Sans';
    src: url('../src/assets/fonts/DMSans-Medium.eot');
    src: url('../src/assets/fonts/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/DMSans-Medium.woff') format('woff'),
        url('../src/assets/fonts/DMSans-Medium.ttf') format('truetype'),
        url('../src/assets/fonts/DMSans-Medium.svg#DMSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'DM-Sans';
    src: url('../src/assets/fonts/DMSans-Bold.eot');
    src: url('../src/assets/fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/DMSans-Bold.woff') format('woff'),
        url('../src/assets/fonts/DMSans-Bold.ttf') format('truetype'),
        url('../src/assets/fonts/DMSans-Bold.svg#DMSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




* {
    box-sizing: border-box;
}
body * {
    outline: none;
}
body {
    background: #f5f6f8;
    color: #000000;
    font-family: 'DM-Sans';
    font-size: 14px;
    margin: 0;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,
input,
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
button,
select,
textarea,
.owl-prev,
.owl-next,
.nav-menu,
li,
img {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

a,
button,
input,
textarea {
    outline: none !important;
}

a:hover {
    color: #71a6ef;
}

a {
    color: #3C3CFF;
    text-decoration: none;
    cursor: pointer;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'DM-Sans';
}

h1,
h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    color: #000000;
}

h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

h4,
h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'DM-Sans';
    line-height: 1.4;
    color: #000000;
}

input,
textarea {
    box-sizing: border-box;
    font-family: 'DM-Sans';
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c7c7c7;
}

::-webkit-scrollbar-track {
    background: #e2e2e2;
}

body::-webkit-scrollbar-thumb {
    background-color: #c2bfbf;
}

body::-webkit-scrollbar-track {
    background: #e2e2e2;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

input,
textarea {
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
    background: #F6F6F6;
    color: #000000;
    border-image: initial;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    border: 1px solid #95c2fd;
}

::-webkit-input-placeholder {
    /* Edge */
    color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
    /*  Internet Explorer 10-11  */
    color: rgba(0, 0, 0, 0.5);
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
}



/* header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
} */

/* .wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "sidebar header header"
        "sidebar main main"
        "sidebar footer footer";
} */

.wrapper {
    position: relative;
}

header{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
    left: 250px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    height: 67px ;
}
aside {
    background: #ffffff;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 1;
}
.sidebar-collapse aside {
    position: absolute;
    width: 70px;
    z-index: 1001;
}
.breadcrumb-main {
    /* background-color: #f6f6f6;
    left: 250px;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 1;
    padding: 15px 15px; */
    padding: 15px 0px;
}
footer {
    box-shadow: 0 0 4px rgba(15,34,58,.12);
    height: 60px;
    left: 250px;
    padding: 20px 0.625rem;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: #fff;
}



.sidebar-collapse .navmenu-sidbar {
    display: none
}

main {
    margin-left: 250px;
    overflow: hidden;
    padding: calc(28px + 2.5rem) 15px 90px;
}
.sidebar-collapse main {
    margin-left: 70px;
}
.navmenu-hdr {
    display: none
}

.sidebar-collapse .navmenu-hdr {
    display: block
}
.page-content {
    /* padding: calc(108px + 2.5rem) 15px 90px; */
    padding-top: 10px;
}
.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 14px 15px;
}
.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
}
.sidebar {
    height: calc(100% - 70px);
    margin-top: 70px;
}
.sidebar-inner {
    overflow: auto;
    height: 100%;
}
 .sidebar-collapse footer, .sidebar-collapse header, .sidebar-collapse .breadcrumb-main {
    left: 70px;
}
.sidebar-collapse .sidebar-top {
width: 70px;
}
.logo {
    display: block;
}
.logo-lg {
    display: block;
}
.logo-sm {
    display:none;
}
.sidebar-collapse .logo-sm {
    display: block;
}
.sidebar-collapse .logo-lg {
    display: none;
}

.nav-menu {
    font-size: 20px;
    background: #ffffff;
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #ededed;
    cursor: pointer;
    color: #1a1a1a;
    transition: all 300ms;
}
.bg-green-500{
    background: #9dc45a;
}
.nav-menu:hover {
    background: #fbfff4;
    /* box-shadow: 0 2px 8px rgb(0 0 0 / 10%); */
    color: #9fc55e;
    border-color: #fbfff4;
}

.menu-link {
    color: #606368;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    transition: all .4s;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    padding: 13px 15px;
    outline: none;
}

.menu-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    margin-right: 0.5rem;
}
.sub-menu {
    margin-left: 1rem;
}
.menu-item {
    display: block;
    padding: 0.15rem 0;
}

.sidebar-collapse .menu-item {
    position: relative;
    white-space: nowrap;
}



.sidebar-collapse .menu-item:hover .menu-link {
    /* background-color: #f3f8fb; */
    /* box-shadow: inset 0 3px 10px 0 hsla(215,9%,64%,.2); */
    /* color: #5b73e8; */
    position: relative;
    transition: none;
    width: 250px;
    z-index: 9;
}
.sidebar-collapse .menu-item .menu-link .menu-title {
    display: none;
    transition: all 300ms;
}
.sidebar-collapse .menu-item:hover .menu-link .menu-title {
    background-color: #ffffff;
    /* box-shadow: inset 0 3px 10px 0 hsla(215,9%,64%,.2); */
    position: absolute;
    left: 70px;
    width: 220px;
    z-index: 99999999;
    display: block;
    top: 0;
    padding: 13px 15px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sidebar-collapse .menu-item .sub-menu {
    position: absolute;
    margin-left: 0;
    left: 0;
}
.breadcrumb-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breadcrumb-title {
    display: flex;
}
.breadcrumb-item a, .breadcrumb-item span {
    color: #737070;
}

.breadcrumb-item a:hover {
    color: #9dc45a;
}
.card {
    border: 1px solid #f6f6f6;
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
}
.card-header {
    padding: 1rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #eff2f5;
}
.rght-hdr {
    display: flex;
    align-items: center;
    gap: 15px;
}
.admnprfl-tbmain {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.profile-crclimg {
    width: 40px;
    height: 40px;
    background: #f6f6f6;
    border-radius: 50%;
    overflow: hidden;
}

.profile-crclimg span {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.hdrmenu-drpdwn {
    position: absolute;
    top: 51px;
    right: 0;
}

.admin-prflsec {
    position: relative;
}



.hdrmenu-drpdwn ul {
    width: 170px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 5px 0;
}

.hdrmenu-drpdwn ul a {
    display: block;
    padding: 8px 15px;
    font-size: 14px;
    color: #2a2a2a;
    background: transparent;
}

.hdrmenu-drpdwn ul a span {
    margin-right: 8px;
}

.hdrmenu-drpdwn ul a:hover {
    background: #fbfff4;
    color: #9fc55e;
}
.admin-name p {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}
.admin-name p em {
    font-style: normal;
    margin-left: 3px;
}

.admnprfl-tbmain:hover .admin-name p {
    color: #9dc45a;
}
.mb-15 {
    margin-bottom: 25px;
}
.menu-item .menu-link:hover {
    background: #fbfff4;
    color: #9fc55e;
}
.menu-item .menu-link:hover {
    background: #fbfff4;
    color: #9fc55e;
}
.sidebar-collapse .menu-item .menu-link:hover {
    background: transparent;
    color: #9fc55e;
}
.breadcrumb-item span, .breadcrumb-item a {
    text-transform: capitalize;
}
.tab-list {
    display: flex;
    gap: 10px;
}


.tab-title {
    padding: 10px 15px;
    width: 102px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
    font-size: 14px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #ededed;
}
.tab-title.active {
    color: #ffffff;
    background: #9fc55e;
    border-color: #9fc55e;
}

.tab-title:hover {
    color: #ffffff;
    background: #9fc55e;
    border-color: #9fc55e;
}
.viewall-btn {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
    padding: 6px 12px;
}

.viewall-btn:hover {
    border-bottom: 2px solid #9fc55e;
    color: #9fc55e;
}


.table>:not(:last-child)>:last-child>* {
    border-bottom-color: inherit;
}


.table>:not(caption)>*>* {
    padding: 0.75rem 0.75rem;
    background-color: transparent;
    border-bottom-width: 0;
    box-shadow: unset;
}
.table td, .table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table td:first-child, .table th:first-child {
    padding-left: 0;
}
.table td:last-child, .table th:last-child {
    padding-right: 0;
}
.table.table-row-dashed tr {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #e4e6ef;
}
.table tbody tr:last-child {
    border-bottom: 0;
}
.table th {
    font-size: 14px;
    font-weight: 500;
    color: #121212;
}
.table th {
    white-space: nowrap;
}
.table td {
    font-size: 14px;
    font-weight: normal;
    color: #313131;
    vertical-align: middle;
    /* white-space: nowrap; */
}
.btn-primary{
    color:#fff;
    background-color:#9dc45a;
    border-color:#9dc45a;
}
.btn-primary:hover{
    color:#fff;
    background-color:#89ad4c;
    border-color:#89ad4c;
}

 .btn-primary:focus {
    box-shadow: unset;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: unset;
}
.btn-shadow:hover {
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #89ad4c;
    border-color: #89ad4c;
}


.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #89ad4c;
    border-color: #89ad4c;
}
.slect-allchk label {
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
    cursor: pointer
}

.slect-allchk label input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden
}

.slect-allchk label input[type=checkbox]~span {
    position: relative;
    margin: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #a5a5a5;
    display: block;
    border-radius: 4px
}

.slect-allchk label input[type=checkbox]~span:before {
    content: "";
    position: absolute;
    inset: 1px 0 0;
    height: 15px;
    width: 8px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(45deg);
    margin: 0 auto
}

.slect-allchk label input[type=checkbox]:checked~span {
    border-color: #9dc45a;
}

.slect-allchk label input[type=checkbox]:checked~span:before {
    border-bottom-color: #9dc45a;
    border-right-color: #9dc45a;
}

.cstmall-chkmain .slect-allchk label input[type=checkbox]~span {
    height: 16px;
    width: 16px;
}
.cstmall-chkmain .slect-allchk label input[type=checkbox]~span:before {
    top: 0;
    height: 10px;
    width: 6px;
}
.brdcrmbbtn-main {
    display: flex;
    gap: 10px;
}
.breadcrumb-pagehdng {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: "" !important;
    background-color: #b5b5c3;
    height: 2px;
    width: 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
}
.breadcrumb-item {
    padding-right: 6px;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 13px;
    position: relative;
}


.responsive-table {
    overflow: auto;
}
.responsive-table::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}


.svcrd-togl .tgl-sld {
    display: flex;
    /* justify-content: flex-end; */
    margin-bottom: 0px;
}

.svcrd-togl .tgl-sld label {
    position: relative;
}

.svcrd-togl .tgl-sld input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.svcrd-togl .tgl-sld input[type="checkbox"]~span {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    padding: 10px;
    background: #cbcbcb;
    width: 40px;
    position: relative;
}

.svcrd-togl .tgl-sld input[type="checkbox"]~span i {
    font-style: normal;
    display: block;
    background: #6a6a6a;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: all 300ms;
}
.svcrd-togl .tgl-sld input[type="checkbox"]:not(:checked)~span {
    background: #cbcbcb;
}
.svcrd-togl .tgl-sld input[type="checkbox"]:not(:checked)~span i{
    background: #6a6a6a;
    left: 3px;
}
.svcrd-togl .tgl-sld input[type="checkbox"]:checked~span {
    background: #9dc45a;
}

.svcrd-togl .tgl-sld input[type="checkbox"]:checked~span i {
    background: #ffffff;
    left: 21px;
}
.btn.btn-bg-light {
    border-color: #f5f8fa;
    background-color: #f5f8fa;
}
.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.5rem + 2px);
    width: calc(1.5em + 1.5rem + 2px);
}
.btn-group-sm>.btn.btn-icon, .btn.btn-icon.btn-sm {
    height: calc(1.2em + 1.1rem + 2px);
    width: calc(1.2em + 1.1rem + 2px);
}
.svg-icon svg {
    height: 1.15rem;
    width: 1.15rem;
}

.svg-icon.svg-icon-3 svg {
    height: 1.2rem !important;
    width: 1.2rem !important;
}
.svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #b2b5bd;
}
.btn.btn-icon .svg-icon, .btn.btn-icon i {
    padding: 0;
    margin: 0;
    line-height: 1;
    flex-shrink: 0;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: unset;
}

.notification-main{
    position: relative;
}
.notification-icon span {
    padding: 10px;
    font-size: 18px;
    color: #666666;
    cursor: pointer;
    transition: all 300ms;
}
.notification-icon span:hover {
    color: #9dc45a;
}
.hdrnoti-drpdwn {
    position: absolute;
    top: 46px;
    right: 0;
}
.noti-head {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #ededed;
}
.noti-head h3 {
    font-size: 16px;
}
.hdrnoti-drpdwn ul {
    width: 296px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 5px 0px;
    overflow-y: auto;
    max-height: 218px;
    padding-top: 47px;
}
.hdrnoti-drpdwn ul li{
    padding: 10px 13px;
}
.hdrnoti-drpdwn ul li+li {
    border-top: 1px solid #ededed;
}
.notihstry-dtls h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2px;
    font-weight: 500;
}

.notihstry-dtls p {
    color: #666666;
}
.btn-check:active+.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g), .btn-check:checked+.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary.active .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary.show .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .show>.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #9dc45a;
}
.btn-check:active+.btn.btn-active-color-primary, .btn-check:checked+.btn.btn-active-color-primary, .btn.btn-active-color-primary.active, .btn.btn-active-color-primary.show, .btn.btn-active-color-primary:active:not(.btn-active), .btn.btn-active-color-primary:focus:not(.btn-active), .btn.btn-active-color-primary:hover:not(.btn-active), .show>.btn.btn-active-color-primary {
    color: #9dc45a;
}
.btn.btn-active-color-primary:hover svg {
    opacity: 1;
}
.filter-header {
    padding: 1rem 1rem 0;
}



.filter-header .filter-title h3 {
    font-size: 18px;
    font-weight: 600;
}
.form-label {
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    display: inline-block;
}

.rfundtop-card {
    margin-top: 30px;
}

.opacity-100{
    opacity: 1;
} 

.bg-white{
    background-color: white;
}
.translate-y-0{
transform: translateY(0);
}
 .h-min{
    min-height: 40px;
 }

 .opacity-0{
    opacity: 0;
} 
.translate-y-8{
transform: translateY(2rem);
}
 .h-0{
    height: 0;
 }


 .submenu-title {
    padding: 10px 15px;
    padding-left: 55px;
    background: #fff;
    color: #494b4e;
    font-size: 14px;
    font-weight: normal;
}
.submenu-title:hover {
background: #f4fde5;
color: #9fc55e;
}
.menu-title {
    
    background: #fff;
    color: #494b4e;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    transition: all .4s;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    padding: 11px 15px;
    outline: none;
    vertical-align: middle;
    gap: 10px;
}
.menu-title:hover {
background: #f4fde5;
color: #9fc55e;
}
.bg-green-500 {
    background: #f4fde5;
    color: #9fc55e;
}
.menu-arrow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 16px;
}

.main-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 60px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;

 }
 .main-popup.pop-open{
    opacity: 1;
    visibility: visible;
 }
.lm-outer {
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    overflow: auto;
}
.lm-inner {
    display: table-cell;
    vertical-align: middle;
}
.popup-inner {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius:8px;
    z-index: 5;
    position: relative;
    box-shadow: 0 16px 26px rgb(0 0 0 / 10%);
    max-height: calc(100vh - 80px);
    overflow: auto;
}
.main-popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 10%);
    z-index: 0;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;
}
.main-popup.pop-open .overlay{
    opacity: 1;
    visibility: visible;
}
.popup-header {
    padding: 15px 20px;
    border-bottom: 1px solid #ededed;
}

header
.popup-heading h3 {
    font-size: 18px;
    line-height: 24px;
}
.popup-body {
    padding: 20px 30px;
}
.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    color: #181c32;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e6ef;
    appearance: none;
    border-radius: 4px;
    padding: 9px 14px;
}
.form-control:focus {
    color: #181c32;
    background-color: #fff;
    border-color: #b5b5c3;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 0 0.25rem rgba(0, 158, 247, .25);
}
.form-control {
    box-shadow: none !important;
}
.main-popup.adduser-popup .popup-inner{
    max-width: 442px;
    width: 100%;
}
.main-popup.categry-popup .popup-inner{
    max-width: 450px;
}
.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: unset;
}
.btn-secondary {
    color: #ffffff;
    background-color: #ada8a8;
    border-color: #ada8a8;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #9b9898;
    border-color: #9b9898;
}
.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #9b9898;
    border-color: #9b9898;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: #9b9898;
    border-color: #9b9898;
    box-shadow: unset;
}
.smpl-sheet {
    display: flex;
    align-items: center;
}

.smpl-sheet p {
    max-width: 254px;
    padding-right: 15px;
    color: red;
    font-size: 13px;
    font-weight: 500;
}

.exclfil-upload {
    border: 1px dashed #c1c1c1;
    width: 100%;
    border-radius: 6px;
    margin-top: 4px;
    transition: all 300ms;
}
.exclfil-upload:hover {
    border-color: #9dc45a;
}
.exclfil-upload label {
    display: block;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.exclfil-upload label>div {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #959191;
}

.exlfile-imprt {
    padding-top: 25px;
}

.rght-hdr {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hdrbtn-main {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hdrmr-main {
    display: flex;
    align-items: center;
    gap: 10px;
}
.block{
    display: block;
}
.hidden{
    display: none;
}

.menu-title p {
    color: #494b4e;
}

.menu-title:hover p {
    color: #9fc55e;
}

.menu-title.bg-black {
    background: #f4fde5;
    color: #9fc55e;
}
.menu-title.bg-black  p{
    color: #9fc55e;
}

.slect-main {
    position: relative;
}

.slect-main .slect-box {
    display: block;
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    color: #181c32;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e6ef;
    appearance: none;
    border-radius: 4px;
    padding: 9px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slect-main .slct-drpdwn {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 9;
}

.slect-main .slct-drpdwn .slct-lstng {
    background: white;
    max-height: 140px;
    padding: 4px 0;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid #ededed;
    border-radius: 4px;
    overflow-y: auto;
}

.slect-main .slct-drpdwn .slct-lstng li {
    padding: 10px 15px;
}
.slect-main .slct-drpdwn .slct-lstng li:hover {
    background: #f4fde5;
    color: #9dc45a;
}

.slect-main .slct-drpdwn .slct-lstng li:hover p {
    color: #9dc45a;
}

.slct-hidden{
    display: none;
}

.slct-block{
    display: block;
}
.ordrstats-slectbx .css-b62m3t-container {
    width: 184px;
}
.runer-slectbx .css-b62m3t-container {
    width: 150px;
}
.runerstats-slectbx .css-b62m3t-container {
    width: 188px;
}

.pymn-slectbx .css-b62m3t-container {
    width: 158px;
}
.userinfo-head {
    padding: 1rem 1rem 0.75rem;
}
.userinfo-head h2 {
    font-size: 18px;
}
.userdtl-card .brnd-vndrnmbr {
    position: relative;
    padding: 6px 0;
}
.userdtl-card .brnd-vndrnmbr:before, .userdtl-card .brnd-vndrnmbr:after {
    content: "";
    display: table;
    clear: both;
}
.userdtl-card .brnd-vndrnmbr p {
    font-size: 13px;
    font-weight: 500;
    color: #aaa;
    margin-bottom: 0;
    line-height: 1.4;
    width: 180px;
    float: left;
    height: 25px;
}
.userdtl-card .brnd-vndrnmbr h4 {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
    margin-left: 180px;
    position: relative;
    padding-left: 25px;
    display: flex;
    gap: 15px;
    align-items: center;
    height: 25px;
}
.userdtl-card .brnd-vndrnmbr h4:before {
    content: ":";
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    padding: 0 5px;
}
.paynow-btn {
    display: flex;
    background: #88c45a;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 25px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms;
}
.paynow-btn:hover {
    background: #679842;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}
.h-100{
    height: 100%;
}
.erning-flx h4 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
}
.card-body.dashcrd-bdy {
    padding: 1.2rem 1rem;
}
.btn.btn-bg-light.acept-btn {
    color: #50cd89;
    background-color: #e8fff3;
}
.btn.btn-bg-light.rejct-btn {
    color: #f1416c;
    background-color: #fff5f8;
}
.rejct-btn .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #f1416c;
}
.total-billing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.w-2px {
    width: 2px!important
}

.w-3px {
    width: 3px!important
}

.w-4px {
    width: 4px!important
}

.w-5px {
    width: 5px!important
}

.w-6px {
    width: 6px!important
}

.w-7px {
    width: 7px!important
}

.w-8px {
    width: 8px!important
}

.w-9px {
    width: 9px!important
}

.w-10px {
    width: 10px!important
}

.w-15px {
    width: 15px!important
}

.w-20px {
    width: 20px!important
}

.w-25px {
    width: 25px!important
}

.w-30px {
    width: 30px!important
}

.w-35px {
    width: 35px!important
}

.w-40px {
    width: 40px!important
}

.w-45px {
    width: 45px!important
}

.w-50px {
    width: 50px!important
}

.w-55px {
    width: 55px!important
}

.w-60px {
    width: 60px!important
}

.w-65px {
    width: 65px!important
}

.w-70px {
    width: 70px!important
}

.w-75px {
    width: 75px!important
}

.w-80px {
    width: 80px!important
}

.w-85px {
    width: 85px!important
}

.w-90px {
    width: 90px!important
}

.w-95px {
    width: 95px!important
}

.w-100px {
    width: 100px!important
}

.w-125px {
    width: 125px!important
}
.w-130px {
    width: 130px!important;
}
.w-150px {
    width: 150px!important
}

.w-175px {
    width: 175px!important
}

.w-200px {
    width: 200px!important
}

.w-225px {
    width: 225px!important
}

.w-250px {
    width: 250px!important
}

.w-275px {
    width: 275px!important
}

.w-300px {
    width: 300px!important
}

.w-325px {
    width: 325px!important
}

.w-350px {
    width: 350px!important
}

.w-375px {
    width: 375px!important
}

.w-400px {
    width: 400px!important
}

.w-425px {
    width: 425px!important
}

.w-450px {
    width: 450px!important
}

.w-475px {
    width: 475px!important
}

.w-500px {
    width: 500px!important
}

.w-550px {
    width: 550px!important
}

.w-600px {
    width: 600px!important
}

.w-650px {
    width: 650px!important
}

.w-700px {
    width: 700px!important
}

.w-750px {
    width: 750px!important
}

.w-800px {
    width: 800px!important
}

.w-850px {
    width: 850px!important
}

.w-900px {
    width: 900px!important
}

.w-950px {
    width: 950px!important
}
.prdctimg-bg {
    width: 70px;
    height: 70px;
    object-fit: contain;
    text-align: center;
    background: #f5f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
}
.prdctimg-bg img {
    max-width: 100%;
    width: auto;
    border-radius: 4px;
    overflow: hidden;
}

.text-dark-hover {
    color: #313131;
}

.text-dark-hover:hover {
    color: #9dc45a;
}

.imageupld-notes p {
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
}

.slectbx-singel .css-art2ul-ValueContainer2 {
    padding: 5px 8px;
}
.cmpny-copyright {
    text-align: left;
    color: #666666;
}

.text-editor .quill .ql-container {
    height: 134px;
    border: 1px solid #e4e6ef;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.text-editor.text-editor-400 .quill .ql-container {
    height: 300px;
}
.text-editor .quill .ql-toolbar.ql-snow {
    border: 1px solid #e4e6ef;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.text-editor .ql-editor.ql-blank::before {
    font-style: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'DM-Sans';
}
.tags-rslt {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.tag-ttl {
    position: relative;
    background: #ffffff;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #767676;
    border: 1px solid #e4e6ef;
    transition: all 300ms;
    text-transform: capitalize;
}

.tag-ttl em {
    position: absolute;
    top: -9px;
    right: -8px;
    color: white;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e01515;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    font-size: 11px;
}

.tag-ttl em .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #ffffff;
}

.tag-ttl:hover em {
    background: #d80909;
}

.tag-ttl:hover {
    background: #e7f2d2;
    border-color: #e7f2d2;
    color: #9dc45a;
    cursor: pointer;
}

.form-heading {
    margin-bottom: 10px;
}

.form-heading h3 {
    font-size: 16px;
    font-weight: 600;
}

.prdt-inr+.prdt-inr {
    border-top: 1px solid #e4e6ef;
    padding-top: 15px;
    margin-top: 15px;
}

.fileupld-show ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.fileupld-show ul li {
    width: 30%;
}

.fileupld-show ul li .flinner-shw {
    position: relative;
    background: #f9ffef;
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #e3e3e3;
    border-radius: 4px;
    overflow: hidden;
}

.fileupld-show ul li .flinner-shw span {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #ffff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgb(0 0 0 / 9%);
    font-size: 12px;
    color: #434242;
    cursor: pointer;
    transition: all 300ms;
}

.fileupld-show ul li .flinner-shw img {
    width: 100%;
    height: 88px;
}

.fileupld-show ul li .flinner-shw span:hover {
    background: #f4ffe8;
    color: #608422;
}

.fileupld-show ul li .flinner-shw:hover {
    border-color: #9dc45a;
}
.exclfil-upload+.fileupld-show {
    margin-top: 15px;
}
.imgupld-descrp {
    text-align: center;
}

.imgupld-descrp span {
    font-size: 26px;
    color: #9a9898;
}

.imgupld-descrp p {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    margin-bottom: 3px;
}

.imgupld-descrp .notes {
    font-size: 11px;
    color: #9e9e9e;
    margin-bottom: 0;
}

.exclfil-upload:hover .imgupld-descrp span {
    color: #9dc45a;
}
.exclfil-upload:hover p {
    color: #afc785;
}
.exclfil-upload:hover .notes {
    color: #bac3aa;
}
.fileupld-show.videouplod-show ul {
    align-items: flex-start;
}
.fileupld-show.videouplod-show ul li {
    width: 47.5%;
}
.fileupld-show ul li .flinner-shw video {
    height: 93px;
}


.excel-rslt ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.excel-rslt ul li .flinner-shw {
    position: relative;
    background: #f7f8f5;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 8px 10px;
    padding-right: 43px;
}

.excel-rslt ul li .flinner-shw span {
    position: absolute;
    top: 4px;
    right: 10px;
    background: #ffff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgb(0 0 0 / 9%);
    font-size: 12px;
    color: #434242;
    cursor: pointer;
    transition: all 300ms;
}
.excel-rslt ul li .flinner-shw .exlfl-ttl {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.excel-rslt {
    margin-top: 15px;
}
.excel-rslt ul li .flinner-shw span:hover {
    background: #f4ffe8;
    color: #608422;
}
.excel-rslt ul li .flinner-shw .exlfl-ttl em {
    font-size: 12px;
    margin-right: 2px;
    color: #6c9d36;
}



.editprdct-main ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.editprdct-main ul li {
    width: 32.3%;
}

.edtprdct-img {
    background: #f2f2f2;
    height: 206px;
    width: 100%;
    border: 1px solid #ededed;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.edtprdct-img span {
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}
.edtprdct-img .juBESy {
    position: absolute;
    top: 6px;
    right: 4px;
    cursor: pointer;
}



.edtprdct-img .juBESy .imguplod-editsign em {
    width: 30px;
    height: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    color: #666666;
    box-shadow: 0 2px 4px rgb(0 0 0 / 14%);
}

.edtprdct-img .juBESy .imguplod-editsign:hover em {
    background: #eaeee3;
    color: #7a9c3e;
}
.edtprdct-img video {
    height: 206px;
}

.edit-dummy ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.edit-dummy ul li {
    width: 32.5%;
}

.edit-dummy ul li .dumy-pic {
    height: 206px;
    overflow: hidden;
    background: #f8f8f8;
    border: 1px solid #ededed;
    border-radius: 4px;
}


.copy-clpbrd p {
    font-size: 13px;
    font-weight: 600;
    color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms;
}

.copy-clpbrd p:hover {
    color: #9dc45a;
}

.copy-clpbrd p span {
    margin-right: 5px;
    font-size: 18px;
    color: #8b9f69;
}

.copy-clpbrd p:hover span {
    color: #9dc45a;
}
.tabbing-main .tab-list ul {
    display: flex;
    gap: 10px;
}
.tabbing-main .tab-list ul li span {
    padding: 10px 15px;
    width: 102px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
    font-size: 14px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #ededed;
    display: block;
    transition: all 300ms;
}

.tabbing-main .tab-list ul li span.active {
    color: #ffffff;
    background: #9fc55e;
    border-color: #9fc55e;
}
.tabbing-main .tab-list ul li span:hover {
    color: #ffffff;
    background: #9fc55e;
    border-color: #9fc55e;
}
.tabbing-main .inactive{
    display: none;
}
.tabbing-main .active{
    display: block;
}
.crdhdr-title h3 {
    font-size: 16px;
    font-weight: 600;
}
.store-msg {
    padding: 10px;
    background: #ffe7e7;
    border-radius: 4px;
    padding: 10px;
    background: #ffe7e7;
    border-radius: 4px;
    width: 600px;
}

.store-msg p {
    color: red;
    font-size: 14px;
    font-weight: 500;
}
.jstfy-spcbtwn {
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}
.btn-sample {
    border-color: #ffd0d0;
    background: #ffd0d0;
    color: #585858;
}
.whtspc-nowrp{
    white-space: nowrap;
}

.userrole-chk {
    margin-bottom: 1rem;
    margin-top: 8px;
}

.userrole-chk .Userrole-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.userrole-chk .Userrole-list li {
    width: 31%;
}

.userrole-chk .Userrole-list li .cstmall-chkmain {
    display: flex;
    align-items: center;
}

.userrole-chk .Userrole-list li .cstmall-chkmain p {
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f;
    order: 2;
}

.userrole-chk .Userrole-list li .cstmall-chkmain .slect-allchk {
    margin-right: 13px;
}

.userrole-chk .Userrole-list li .cstmall-chkmain .slect-allchk label input[type=checkbox]~span {
    height: 18px;
    width: 18px;
}

.userrole-chk .Userrole-list li .cstmall-chkmain .slect-allchk label input[type=checkbox]~span:before {
    height: 12px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #f7f7f7;
    opacity: 1;
    cursor: no-drop;
}
.runer-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    align-items: center;
}
.runnerprfl-image {
    width: 198px;
    height: 170px;
    background: #f6f6f6;
    border-radius: 6px;
}
.runnerprfl-image span {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.enqry-crd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.enqry-dtls {
    text-align: center;
}


.enqry-icon span {
    font-size: 42px;
    color: #9dc45a;
}

.enqry-dtls h3 {
    font-size: 24px;
    font-weight: 600;
}

.enqry-dtls p {
    color: #6f6f6f;
}


.mp-flex {
    display: flex;
    margin: 0 -6px;
    flex-wrap: wrap
}

.mp-flex .map-inerflx {
    padding: 0 6px
}

.mp-flex .map-inerflx.mpwdth-50 {
    width: 50%
}

.mp-flex .map-inerflx.mpwdth-100 {
    width: 100%
}

.mp-flex .map-inerflx.mpwdth-100+.mpwdth-100 {
    margin-top: 15px
}

.mp-flex .map-inerflx.mpwdth-25 {
    width: 25%
}

.rdobtn-card label {
    position: relative;
    display:block;
}

.rdobtn-card label input[type=radio] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    bottom: 0;
    margin: 0
}

.rdobtn-card label input[type=radio]~span {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    background: #ffffff;
    border: 1px solid #e4e6ef;
    border-radius: 4px;
    padding: 9.5px 12px
}

.rdobtn-card label input[type=radio]~span em {
    display: block;
    font-style: normal;
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid #d4d2d2;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px
}

.rdobtn-card label input[type=radio]~span em:before {
    content: "";
    background: #d4d2d2;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%
}

.rdobtn-card label input[type=radio]~span i {
    color: #000;
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal
}
.rdobtn-card label input[type=radio]:checked~span {
    border-color: #9dc45a;
}
.rdobtn-card label input[type=radio]:checked~span em {
    border: 1px solid #9dc45a
}

.rdobtn-card label input[type=radio]:checked~span em:before {
    background:  #9dc45a
}

.flxfrm-hdng {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg-note {
    font-size: 12px;
    color: #ff6b6b;
    font-weight: 500;
    margin-top: 4px;
}

.msg-note b {
    margin-right: 4px;
    color: #b60000;
}
.visibilty-hidden{
    opacity: 0;
}

.delvryarea-main .tabbing-main .tab-list ul li span {
    width: 160px;
}

.delvryarea-main .tabbing-main .tab-list {
    margin-bottom: 25px;
}
.dlvry-chk .cstmall-chkmain {
    display: flex;
    align-items: center;
    gap: 10px;
}


.toglwth-listng ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 25px;
}

.toglwth-listng ul li {
    width: 30%;
}

.toglwth-listng ul li .toglwth-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.paginations ul {
    padding: 0;
    margin: 0;
    text-align: center
}

.paginations ul li {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #E5E5E5
}

.paginations ul li:not(.button) a {
    background: #F6F6F6;
    height: 37px;
    border-radius: 0;
    line-height: 18px
}

.paginations ul li.button a {
    display: block;
    width: 100%
}

.paginations ul li a {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    display: block;
    padding: 8px 10px;
    width: 38px;
    text-align: center;
    height: 37px
}

.paginations ul li a:hover {
    color: #000;
    background: #ffffff
}

.paginations ul li.button a:hover {
    color: #fff;
    background: #9dc45a
}

.paginations ul li.active a {
    background: #FFFFFF;
    color: #000
}

.paginations ul li+li {
    border-left: 0
}

.paginations ul li.previous-page a em {
    margin-right: 6px
}

.paginations ul li.next-page a em {
    margin-left: 6px
}

.paginations {
    display: flex;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 15px
}


.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 0px #00000014;
    border-radius: 4px;
    max-width: 480px;
    padding: 40px;
    margin: 0 auto;
}
.login-logo {
    margin-bottom: 15px;
}

.login-logo span {
    display: block;
    text-align: center;
}
.login-head {
    margin-bottom: 20px;
    text-align: center;
}

.login-head h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.login-head p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.shimmer{
    height: 100vh;
    background: #f9f9f9;
}

.login-btn {
    margin-top: 30px;
}
.login-btn .btn-primary {
    width: 100%;
}
.srchsvg-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catgry-cstmsrch input {
    padding-left: 35px;
}

.prdctshare-main {
    position: relative;
    transition: all 300ms;
}

.prdctshare-drpdown {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.prdctshare-main:hover .prdctshare-drpdown {
    opacity: 1;
    visibility: visible;
}
.prdctshare-main {
    position: relative;
    transition: all 300ms;
}

.prdctshare-drpdown {
    position: absolute;
    top: 0;
    right: 35px;
    opacity: 0;
    visibility: hidden;
}

.prdctshare-main:hover .prdctshare-drpdown {
    opacity: 1;
    visibility: visible;
}

.prdctshare-drpdown ul {
    background: #fff;
    border: 1px solid #ededed;
    width: 112px;
    border-radius: 4px;
    overflow: hidden;
}

.prdctshare-drpdown ul li {
    padding: 10px 10px;
    transition: all 300ms;
}

.prdctshare-drpdown ul li+li {
    border-top: 1px solid #ededed;
}

.prdctshare-drpdown ul li:hover {
    background: #f7ffea;
}

.prdctshare-drpdown ul li p em {
    margin-right: 8px;
}

.prdctshare-drpdown ul li:hover p {
    color: #9dc45a;
}

.crdhdr-main-flx {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.crdhdr-main-flx .crdhdr-inner-flx {
    display: flex;
    gap: 15px;
}
.crdhdr-inner-flx-18 {
    width: 18%;
}

.flxform-hdng {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.add-variant+.add-variant {
    border-top: 1px solid #ededed;
    margin-top: 20px;
    padding-top: 25px;
}
.badge{
    display: inline-block;
    padding: 6px 8px;
    font-size: .75em;
    font-weight: 700;
    line-height: .75em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.badge-success{
    background: #0bb60b;
    color: #fff;
}
.badge-danger{
    background: #d32a0c;
    color: #fff;
}
.stock-select .ordrstats-slectbx .css-b62m3t-container {
    width: 145px;
}
.tbl-input-70 {
    width: 70px;
}

.tbl-input-50 input {
    text-align: center;
}

.tbl-input-50 {
    width: 50px;
}

.gruptable-reponsive{
        overflow: auto;
        max-height: 452px;
}
.card-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.credit-blnce span em {
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: -4px;
    left: 0;
}

.credit-blnce {
    position: relative;
    padding-left: 12px;
}
.dueblnc {
    color: #7b9c43;
}
.cursur-pointer {
    cursor: pointer;
}

.cursur-pointer:hover {
    color: #7d9e44;
}

.font-semibold{
    font-weight: 500;
}

.hidden{
    display: none;
}
.block{
    display: block;
}


.responsive-table tbody tr.animated-row {
    position:relative;
    height: 68px;
}
.responsive-table tbody tr.animated-row:before, .responsive-table tbody tr.animated-row:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.responsive-table tbody tr.animated-row:before {
    background: #dfdfdf;
}
.responsive-table tbody tr.animated-row:after{
    /* animation: rowAnimation 0.5s ease infinite; */
    /* background: red; */
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}
@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}


